/* loading font into css file */
@font-face {
    font-family: 'ProximaNova';
    src:url(../assests/fonts/Proxima_Nova_Semibold_webfont.ttf);

}
@font-face {
    font-family: 'ProximaNovaThin';
    src:url(../assests/fonts/Proxima_Nova_Thin_webfont.ttf);

}
@font-face {
    font-family: 'ProximaNovaLightBold';
    src:url(../assests/fonts/Mark_Simonson_Proxima_Nova_Alt_Regular_webfont.ttf);

}
@font-face {
    font-family: 'ProximaNovaBold';
    src:url(../assests/fonts/Mark_Simonson-Proxima_Nova_Alt_Bold_webfont.ttf);

}
@font-face {
    font-family: 'ProximaNovaRegular';
    src:url(../assests/fonts/ProximaNova-Regular.otf);

}
@font-face {
    font-family: 'ProximaNovaLight';
    src:url(../assests/fonts/proximanova-light-webfont.ttf);

}
@font-face {
    font-family: 'ProximaNovaSemiBold';
    src:url(../assests/fonts/proximanova_semibold_webfont.ttf);

}
.pn{
    font-family: ProximaNova;
}
.pnT{
    font-family: ProximaNovaThin;
}
.pnLB{
    font-family: ProximaNovaLightBold;
}
.pnB{
    font-family: ProximaNovaBold;
}
.pnR{
    font-family: ProximaNovaRegular;
}
.pnL{
    font-family: ProximaNovaLight;
}
.pnSB{
    font-family: ProximaNovaSemiBold;
}

.Line-3-Copy-2 {
    width: 369px;
    height: 0.1px;
    border: solid 5px #08b5e5;
}
.landing_image{
    margin-left: 6%;
    margin-top: 0.5%;
    width: 95%
}
.explore_more{
    margin-top: -33%;
    padding-left: 7%;
}
.pl_9{
    padding-left: 9%
}
.ml_-8{
    margin-left: -8%;
}

.our_specialization{
    margin-right: 21.6%;
    margin-top: -9.1%;
}
.landing_image_design{
    width: 149px;
    height: 355px;
    opacity: 0.6;
    border-image-source: linear-gradient(to bottom, var(#06cbec), #036474 61%, #0d58c6);
    border-image-slice: 1;
    margin-top: 85%;
    margin-left: -5%;
  
}
/* NavBar DropDown */
.solid_navbar{
    height: 0.1px;
    opacity: 0.55;
    border: solid 1px #979797;
}
.none{
    list-style: none;
}
.w_312{
    width: 312px;
}
.seletcBoxHeading{
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.22;
  letter-spacing: normal;
  color: #000000;
}
.seletcBoxContents{
  font-family: ProximaNovaLight;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.22;
  letter-spacing: normal;
  color: #000000;
}

/* End Of NAvBar DropDown */

/* Custom Navar Buttons */
.custom-button{
    background: none !important;
    box-shadow: none !important
}
/* NavBar buttons End */
/* Zoom Property */
.zoom {
    zoom: 80% ;
}
/* End of  Zoom Property */
:root{
    --pale-blue : #def8fd;
    --pale-grey : #f2f9fa;
}
.mr_28{
    margin-right: 28%;
}
.Rapidqube-logo{
  object-fit: contain;
  padding-left: 4.2%;
  
}
.navBarName{
    font-family: ProximaNovaRegular;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.space {
    margin-left:2%;
}
.header {
    object-fit: contain;
    width: 63%;
    /* height: 10%; */
    margin-left: 37.9%;
    margin-top: -4.89%;
}
.index_page_logo{
    width: 93%;
    margin-left: 8%;
    margin-top: -19%;
}
.weAre{
  font-family: ProximaNova;
  font-size: 53px;
  font-weight: initial;
}
.blockchainBlock{

}
.Group-21 {
    width: 1440px;
    height: 784px;
    object-fit: contain;
  }
.heading {
    /* width: 517px;
    height: 43px; */
   
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.smallheading{
  
  font-size: 18.2px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.index_page_logo_container{
    margin-left: 29.99%;
    margin-top: 4.99%;
   
}
.Rectangle {
    width: 153px;
    height: 123px;
    border-radius: 6px;
    border: solid 3.5px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(129deg, #06cbec, #0d5cc8);
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(129deg, var(--aqua-blue), var(--water-blue));
    background-origin: border-box;
    background-clip: content-box, border-box;
} 

.solid { 
    opacity: 0.3;
    border: solid 2px #979797;
}
.whitepapers_frameworks_products{
    width: 10.6%;
    height: 4.1%;
    border: 50px #4990e2; 
    border-style: solid;
    border-width: 4px; 
    border-radius: 6px;
    text-align: center;
}
/* frameworks and white paperes and produts css */
.count_section {
	margin:100px 0px;
}
.count_list {
	list-style-type:none;
    display:inline-block;
    margin-left: -10.5%;

}
.count_no {
  font-family: ProximaNovaSemiBold;
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  font-weight:700;
  text-align: center;
  padding-top: 17%;
}	
.count_txt {
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
	color:#000000;
    font-size:22px;
    text-align: center;
    font-family: ProximaNovaSemiBold;
}
.box_no{
    width: 153px;
    height: 123px;
    border: 1px solid  #4990e2; 
    border-style: solid;
    border-width: 4px; 
    border-radius: 6px;
    align-items: center;

}
.line{
    border-top: 6px solid  #4990e2; 
    height: 500px;

}
.navBarLine{
    width: 112px;
    height: 47px;
    border-bottom: 5px inset #666666;
    /* border-width:5px;  
    border-bottom-style:inset; */
    position: absolute;
}
.navBarLineFirst {
    width: 1205px;
    height: 3px;
    opacity: 0.4;
    border: solid 1px #979797;
  }
/* Start a Projecet Button */
.gradient-button {
    margin: 10px;
    font-family: ProximaNova;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 8px;
    width: 265px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-4 {background-image: linear-gradient(to right, #06cbec 0%, #0c7bd2 51%, #06cbec 100%)}
.gradient-button-4:hover { background-position: right center; }
.footer{
    width: 1440px;
    height: 272px;
    opacity: 1.3;
    margin-top: 3%;
    /* background-image: linear-gradient(to bottom, #def8fd, #f2f9fa);
    background-image: linear-gradient(to bottom, var(--pale-blue), var(--pale-grey)); */
}

.footer_font_header{
    font-family: ProximaNovaBold;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    line-height: 1.17;

}
.footer_font{
    font-family: ProximaNovaRegular;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    line-height: 1.17;
}

.regFormFonts{
    opacity: 0.47;
    font-family: ProximaNovaRegular;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #000000;
}

.buttonFonts{
    font-family: ProximaNovaRegular;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #ffffff; 
}
/* Social Media Buttons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #000000;
}
  
.fa:hover {
      opacity: 0.7;
}

/* ContactUs Page */
.map{
    width: 548px;
    height: 274px;
    opacity: 1.53;
}
.solid_contact{
    opacity: 0.25;
    border: solid 1px #979797;
}
.w_42{
    width: 42%; 
}
.w_76{
    width: 76%;
}
.ml_13{
    margin-left: 13%;
}
.city_name{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.5;
    letter-spacing: normal;
    color:#000000;
}
.city_address{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color:#000000;
}
.city_office_name{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#000000;
}
.ml_-35{
    margin-left: -39%;
}
.tab_drawer_heading { 
    display: none; 
}

.white_color{
    color: #ffffff;
}
.black_color{
    color: #000000;
}

.banner_heading{
    /* padding-left:32%; */
    font-family: ProximaNovaSemiBold;
    font-size: 53px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: normal;
}
.banner_content{
    font-family: ProximaNovaRegular;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
.banner_size{
    width: 132%;
    height: 73.3%;
    margin-left: -15%;
    margin-top: 4%;
}



/* Solutions Page */
.container {
    position: relative;

}
.solutions_image{
    width: 545px;
    height: 545px; 
    object-fit: contain;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Solutions_content_body{
    font-family: ProximaNovaRegular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.solutions_heading{
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.pale_bg_color{
  background-color:#f2f9fa
}
.video_ico { 
	background:url(../assests/ic_play.png) center center no-repeat;
	background-size:30px;
	float:left;
}
.video_ico:hover { 
	background:url(../assests/ic_play_blue.png) center center no-repeat;
	background-size:30px;
}
/* download_ico { 
	height:30px;
	width:30px;
	display:inline-block;
	background:url(../assests/ic_download.png) center center no-repeat;
	background-size:30px;
}
.download_ico:hover { 
	background:url(../assests/ic_download_select.png) center center no-repeat;
	background-size:30px;
	cursor: pointer;
} */


/* Solutions Page */

.hover:hover{
    font-family: ProximaNovaSemiBold;
      color: #4a90e2;
      
      
}
.contacts_us_bg_image{
    background-image: url(../assests/Contact\ Us\ Page\ 2.png);
    /* width: 494px;
    height: 676px; */
    /* opacity: 0.21; */
    clip:rect(0px,60px,200px,0px);
    border-style: solid;
    border-width: 0px;
    border-image-source: linear-gradient(to bottom, var(#06cbec), #036474 61%, #0d58c6);
    border-image-slice: 1;
}
.blog_bg_image{
   
    opacity: 0.6;
    
    border-image-source: linear-gradient(to bottom, var(#06cbec), #036474 61%, #0d58c6);
    border-image-slice: 1
}
.blog_bg_image2{
    width: 91px;
  height: 471px;
  opacity: 0.6;
}
.contacts_us_bg_image2{
    
    /* width: 494px;
    height: 676px; */
    /* opacity: 0.21; */
    clip:rect(0px,60px,200px,0px);
    border-style: solid;
    border-width: 0px;
    border-image-source: linear-gradient(to bottom, var(#06cbec), #036474 61%, #0d58c6);
    border-image-slice: 1;
}
/* About_us Page */
.background_image{
    background-image:url(/assests/design_abouts.svg);
    /* width: 1221px;
    height:1411px; */
    opacity: 10%;

}

.blue { 
    border: solid 3px #08b5e5;
    margin-left: -5%;
    width: 110%;
    height:0.15;
    margin-top:10%;
}
.ml_67{
    margin-left: 67%;
}
.mr_67{
    margin-right: 67%;
}
.mr_86{
    margin-right: 111%;
}
.ml_86{
    margin-left: 111%;
}
.ml_18{
    margin-left: 18%;
}
.ml_30{
    margin-left: 30%;
}
.ml_35{
    margin-left:35%;
}
.ml_24{
    margin-left: 24%;
}
.mt_2{
 margin-top: -2%;
}
.ml_28{
    margin-left: 28%;
}
.shadowEffect{
    border-radius: 5.6px;
    box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 0.7px #eaeaea;
    background-color: #ffffff;
}
.blue_line {
    width: 314px;
    height: 0.1px;
    border: solid 3px #08b5e5;
    margin-left: -5%;
    margin-top: 7%;

  }
  .ml_12{
    margin-left: 12%;
  }
  .ml_41{
    margin-left: 41%;
  }
  .mt_8{
    margin-top: 8%;
  }
  .mt_6{
    margin-top: 6%;
  }
  .mt_15{
    margin-top: 15%;
  }
.aboutus_heading{
    font-family: ProximaNova;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
} 
.aboutus1_heading_name{   
    font-family: ProximaNovaBold;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.aboutus1_heading_desc{   
    font-family: ProximaNovaRegular;
    font-size: 14.2px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.pl_24{
 padding-left: 24%;
}

.founders_name{
    padding-left: 1%;
    padding-top: 3%;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

/* NaV Bar */
.border {
border: solid 1px #979797
}
.mr_65 {
margin-top : 65px;
}
.mr_60 {
margin-top : 60px;
}
.mr_15{
margin-top: 15px;
}
.mr_30{
margin-top: 30px;
}
.mr_15{
margin-top: 15px;
}
.mr_9{
margin-top: 9px;
}
.mr_22{
margin-top: 22px;
}
.mb_22{
margin-bottom: 22px;
}
.row {
margin-left: 0px !important;
margin-right: 0px !important;
}

.pad_right_0{
padding-right: 0px !important;
}
.img_style{
text-align: center;
margin-top: 26px;
}
.ml_5{
margin-left: 5px;
}
.fixed_position{
position: relative;
bottom: 5px;
}
.custom_margin{
margin-top: 32px;
margin-bottom: 10px;
}
.pl_10{
    padding-left: 10%;
}

/* Services Page */
.pt_6{
    padding-top: 6%;
}
.services_heading{
    font-family: ProximaNovaSemiBold;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.services_content_body{
    font-family: ProximaNovaRegular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.services_content_heading{
    font-family: ProximaNovaBold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-block{
    width: 81%;
    
}
.ml_38 {
    margin-left: 38%;
}

