.Blog {
    margin-right:152px ;
width: 29px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
color: #000000;
}
.Career {
margin: 0px 60px;
width: 42px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
color: #000000;
}

.Contacts-us-Copy-2 {
width: 73px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
color: #000000;
}

.Products-Solutions {
width: 128px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
color: #000000;
}

.White-Papers {
margin: 0 41px;
width: 82px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
color: #000000;
}

.White-Frameworks {
margin-right: 50px;
width: 115px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
color: #000000;
}

.Services {
margin-right: 53px;
width: 53px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
color: #000000;
}

.About-us {
margin-right: 63px;
width: 55px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
color: #000000;
}

.inforapidqubecom {
margin-right: 25px;
width: 129px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
font-weight: 600;
color: #4a4a4a;
}

.-\33 235 {
width: 115px;
height: 17px;
font-family: 'ProximaNova' !important;
font-size: 14px;
font-weight: 600;
color: #4a4a4a;
}

.Combined-Shape {
width: 30px;
height: 31px;
border-style: solid;
border-width: 1px;
border-image-source: linear-gradient(to bottom, #06cbec, #0d61cb);
border-image-slice: 1;
}


.Services_bot {
 
   text-align: center;
   font-family: 'ProximaNova' !important;
    font-size: 53px;
    font-weight: 600;
    line-height: 1.02;
    color: #ffffff;
  }

  .We-have-a-unique-dep {
    
    margin: 0 20%;
    height: 189px;
    font-family: 'ProximaNova' !important;
    font-size: 24px;

    text-align: center;
    color: #ffffff;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .img_size{
    height:83px;
   
  }
  .noun_about-us_316051 {
    width: 56px;
   
    float: left;
  }

  .Who-we-are {
    float: left;
   
   margin:0px 40px;
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    color: var(--black);
  }

  .We-are-Digital-nativ {
    width: 494px;
  
    font-family: 'ProximaNova' !important;
    font-size: 18px;
    color: #000000;
    color: var(--black);
  }

  .RapidQube-solves-our {
    width: 517px;
    font-family: 'ProximaNova' !important;
    font-size: 18px;
    color: #000000;
    color: var(--black);
  }

  .Transforming-Busines {
   
    font-family: 'ProximaNova' !important;
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    color: var(--black);
  }

  .RapidQube-Digital-So {
  
    font-family: 'ProximaNova' !important;
    font-size: 18px;
    color: #000000;
    color: var(--black);
  }

  .img_right{
    width: 550px;
 position: absolute;
  object-fit: contain;
  top: 50px;
  left: 100px;
  }

 

  .Leadership-Managem {
    text-align: center;
    font-family: 'ProximaNova' !important;
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    color: var(--black);
  }












  .Mask_bot {
    width: 373.8px;
    height: 622px;
    border-radius: 5.6px;
    box-shadow: 0 9px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: solid 0.7px #eaeaea;
  }
  
          .Line-3-Copy-4 {
    width: 369px;
    height: 0.1px;
    border: solid 5px #08b5e5;
  }
  .img_lokesh {
   margin-top: 40px;
    height: 150px;
    object-fit: contain;
  }
  .Lokesh-Reddi-Co-foun {
   
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    color: var(--black);
  }
  
   .text-style-1 {
    
    font-size: 15px;
    font-weight: normal;
  }
  
  .Lokesh-is-an-angel-i {
     padding: 0px 7px;
     font-family: 'ProximaNova' !important;
    font-size: 15px;
    text-align: center;
    color: #000000;
    color: var(--black);
  }
  
  .Mask {
    width: 275px;
    border-radius: 5.6px;
    box-shadow: 0 9px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: solid 0.7px #eaeaea;
  }
  
  .Line-3-Copy-2 {
    width: 275px;
    height: 0.1px;
    border: solid 5px #08b5e5;
  }
  
  .img_mohanraj {
    width: 187px;
    height: 187px;
    margin-top: 56px;
    object-fit: contain;
  }
  
  .Mohanraj-P-B-Cheif-D {
  
    height: 51px;
    font-family: 'ProximaNova' !important;
    font-size: 18.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    color: var(--black);
  }
   .text-style_bot {
    font-size: 24px;
    
    font-weight: bold;
  }
  
  .Lokesh-is-an-angel-i-Copy-2 {
      margin: 0 auto;
    width: 336px;
    height: 216px;
    font-family: 'ProximaNova' !important;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    color: var(--black);
  }
  
  .Group-4-Copy-2 {
    width: 109px;
    height: 33px;
    object-fit: contain;
  }

  #bg-img{
    background-image: url("assets/images/group-5_copy.png")
  }